<!DOCTYPE html>

<html>

<head>

<title>Demande d'événement</title>

</head>

<body>

<h2>Demande d'événement</h2>

<form method="post" action="/submit">

Nom :

<br>

<input name="nom">

<br><br>

Prénom :

<br>

<input name="prenom">

<br><br>

Service :

<br>

<input name="service">

<br><br>

Nom de l'événement :

<br>

<input name="nom_evenement">

<br><br>

Date souhaitée de l'événement :

<br>

<input type="date" name="date_souhaitee">

<br><br>

Type de lieu souhaité :

<br>

<input name="type_lieu">

<br><br>

Type d'invités :

<br>

<select name="invites">

<option>Internes</option>

<option>Externes</option>

<option>Internes et externes</option>

</select>

<br><br>

Nombre de participants :

<br>

<input type="number" name="participants">

<br><br>

Centre de coût :

<br>

<input name="centre_cout">

<br><br>

Budget estimé :

<br>

<input name="budget">

<br><br>

Projection :

<br>

<select name="projection">

<option>Oui</option>

<option>Non</option>

</select>

<br><br>

Traiteur :

<br>

<select name="traiteur">

<option>Oui</option>

<option>Non</option>

</select>

<br><br>

Matériel souhaité :

<br>

<textarea name="materiel"></textarea>

<br><br>

Commentaires :

<br>

<textarea name="commentaires"></textarea>

<br><br>

<button type="submit">

Envoyer la demande

</button>

</form>

</body>

</html>